[2017-09-05 22:49] codingo opened #1 "Add support for multiple wordlists at a time in comma delimited format"
At present scanning class supports a single wordlist with

 Issue raises the need for:

Etc'

[2017-09-06 00:15] codingo opened #2 "Detect catch-all scenarios with dynamic data and provide "likely matches" based on page differences"
Current codebase helps to detect unique pages in catch-all scenarios by capturing the hashes of pages, and serving back the count of each hash (so you view pages which are unique).

This breaks down if something as simple as the time is served on the page causing it to be more dynamic, causing a difference in hashes. Proposal is to scrape page data using requests and work out the overlap between p

[2017-09-06 00:16] codingo opened #3 "Create initial documentation with Q&A"
Before release create some quick documentation explaining vhostscan usage and how to use it to detect catch-all scenarios or aliases

[2017-09-06 00:17] codingo opened #4 "Add support for aliases during catch-all scenarios"
As the current codebase detects catch-all scenarios by hashing the pages and providing feedback to the user of the unique content this can be defeated when aliases are used (as the hash will match).

Support needs to be added to help detect these scenarios to insure incorrect information about unique pages isn't being served back to the end user.

[2017-09-06 00:22] codingo opened #5 "Add oN (output normal) format"
Two flags to be added to the initial release - oN, output in normal format. This will work similar to nmap in that it will prioritize a human readable format. Given the simplicity of the output this should still be grepable and remove the need for an oG output in the tool (for consideration after implementation).

[2017-09-06 01:53] codingo opened #6 "Add oG (output grepable) support"
After oN (output normal) has been added it will be considered whether an output grepable  (oG) solution is also needed. If so this would function much the same as nmap providing an outputted file that can be quickly cut into segments using grep/awk/sed, etc'

[2017-09-09 05:22] codingo opened #8 "Add "likely matches" to output that shows items which have unique hashes to input n (--unique-depth)"
In catch-all scenarios vhostscan will first try to hash all of the pages it sees and then outputs "likely matches" based on a unique depth.

Unique depth defaults to one so if it finds a page with "one hit" it will display as a unique page. This breaks down if you have three aliases for the same item so the intent of this flag is to allow you to play with this threshold to identify more pages wort

[2017-09-09 11:58] #8 closed, assigned to codingo

[2017-09-10 23:51] codingo opened #11 "Add verbose mode (-v --verbose)"
At the moment feedback is cluttered when the scanner encounters a catch-all scenario. Proposal is to update it to track "Found x/y items" or a similar implementation unless verbose flag is added to the query in which case vhostscan will output all results as they are discovered.

Regardless, all results will be output to output results so a refactor of how the class passes and handles results will

[2017-09-17 06:50] codingo opened #15 "Add oJ (output json) format"
Proposal for an oJ for output-json to output results in a json format to allow it to more easily overlap with other tools/dashboards.

[2017-09-18 23:02] #5 closed, assigned to codingo

[2017-09-19 01:11] codingo opened #16 "Add setup file"
Add setup file to add application to $PATH and install dependancies

[2017-09-19 04:13] #4 closed, assigned to timkent

[2017-09-22 01:39] codingo opened #18 "Creation dictionary from SSL cert for inclusion in scans"
Often hostnames can be found within SSL certificates. This issue proposes to add a "--include-ssl-terms" or something better named to tell vhostscan to pickup and create a dictionary from located ssl certificates to append to any wordlist scan prior to when matching / filtering is done.

[2017-09-25 00:51] codingo opened #19 "Allow wordlists to be piped via stdin for quicker vhost checks"
# Problem statement
After using the tool for a while I've found cases where I want to scan for a hostname and then run a quick vhost check. I'd also love a quicker way to check for a specific vhost without having to open burp repeater. Currently I've done this using vhostscan by pushing the vhostname to a wordlist file in /tmp, and then referencing it - by the time I've done that I might as well h

[2017-09-25 00:58] codingo opened #20 "Optional flag to cease scan on first 200 response for CTF items?"
Although in a commercial setting catch-all's are quite likely this doesn't always appear to be the case in CTF items. In these cases you don't need vhostscan's catch-all/likepage filtering and instead would want to know about the first 200 response code found.

Potentially there's some value in a flag that will stop the scan and surface results on the first 200 response code that's hit? It's a min

[2017-09-25 02:51] codingo opened #21 "Simple waf bypass headers"
By adding origin headers to all requests we can bypass some WAF products, for example:

[2017-09-26 01:40] #19 closed, assigned to codingo

[2017-09-26 01:44] #11 closed, assigned to codingo

[2017-09-26 02:58] #21 closed, assigned to timkent

[2017-09-26 03:48] timkent opened #26 "Change User-Agent to a more sensible default"
Set User-Agent header to Mozilla or something, and also consider allowing it to be set to a custom value.

[2017-09-27 07:24] #3 closed, assigned to codingo, timkent

[2017-09-27 13:16] #2 closed, assigned to timkent

[2017-09-28 00:31] timkent opened #33 "Display hosts instead of hashes for fuzzy logic mode"
Example:
'dev.example.com' is 98% similar to 'foo.example.com, bar.example.com, meow.ex...'

Perhaps have up to three hosts for each hash and/or a character limit.

[2017-09-28 00:42] timkent opened #34 "Add rate limiting feature"
Currently VHostScan will fire off requests as fast as possible, this is probably not ideal for all situations.

Rate limiting or a configurable pause between requests would be a good feature to add.

[2017-09-28 00:47] #26 closed, assigned to timkent

[2017-09-28 02:06] cryguy commented on #34
can we use external library's for it? or do we not want any external libs?

[2017-09-28 02:08] codingo commented on #34
@cryguy Depends on the library - any suggestions? I think it could be done a natively but I'm open to a library if it leads to a better end result.

[2017-09-28 02:10] cryguy commented on #34
am looking at - https://pypi.python.org/pypi/ratelimit right now

[2017-09-28 02:31] timkent commented on #34
Thanks @cryguy for looking at this!

If you do use an external library, try to preference ones that are packaged in Debian if possible, as we want to try to package this up eventually to make it really simple to install in Kali.

Obviously don't discount others if they are a better fit, but please factor this in.

[2017-09-28 02:53] tizz98 commented on #1
@codingo I can work on this one if it hasn't started to be worked on yet

[2017-09-28 02:58] codingo commented on #1
@tizz98 No work on this yet, you're more than welcome :)

[2017-09-28 02:59] grimd34th commented on #34
#40
Added a time.sleep to the function call with a default of 0, uses python standard libraries so no additional deps

[2017-09-28 03:01] cryguy commented on #34
#39 added ratelimit and documentation for ratelimit func

[2017-09-28 03:05] codingo commented on #34
@cryguy @grimd34th Happy for open discussion on which approach you feel is better. I don't believe there's too many edge cases here that either wouldn't solve but I'm happy to be proven wrong!

[2017-09-28 03:21] codingo opened #41 "Add support for random user agent and specified agent"
Currently vhs will send a Chrome user-agent string. This issue proposes to have --random-agent to pick from a random array of user agents, along with --user-agent where the user can specify their owner user agent string. These could be approached in independent PR's and this issue split in two if preferable.

[2017-09-29 01:16] codingo opened #43 "Reverse lookups for new targets"
As suggested by c_sto it would be useful to have VHostScan use reverse lookups to identify new targets to potentially increase the scope. Likely to have a lot of use to the bug bounty market.

# Resources
https://www.ip-address.org/reverse-lookup/reverse-ip.php

[2017-09-29 02:51] tizz98 commented on #1
I think I have this wrapped up, will PR on Oct 1! Happy Hacktoberfest!

[2017-10-01 02:20] prabhath6 commented on #20
If i understand correctly, this should return first likepage which matches the given target host. So typically it would output two results, one being the actual host and the other one will be the file likepage.

[2017-10-01 11:40] xuvez commented on #43
Can I work on this?

[2017-10-01 23:09] codingo commented on #43
Of course!

[2017-10-02 06:33] #43 closed

[2017-10-02 06:55] codingo commented on #1
Closed with #46

[2017-10-02 06:55] #1 closed

[2017-10-02 07:44] codingo opened #47 "Coloured output"
Update output to colourize output and improve feedback to the user. Will also require a ```--no-color``` to avoid coloured output.

[2017-10-02 08:00] FrancescoSaverioZuppichini commented on #47
I can try it :) Have you a colour scheme?

[2017-10-02 08:12] DeKaN commented on #41
@codingo See #48

[2017-10-02 08:23] codingo commented on #47
Nothing in mind yet - do you want to base it off a *.json, *.txt or *.xml configuration file and it can be tweaked easily by the end user?

[2017-10-02 08:29] FrancescoSaverioZuppichini commented on #47
it can be a good idea! For now I will try to directly add colours in the code. As far as I understand, the main `print` is in `virtual_host_scanner.py`, am I correct?

[2017-10-02 08:48] codingo commented on #47
I think the main concern I have with static colours is the number of people in the infosec security using non-standard terminals. Maybe look at the sqlmap project for some implementation ideas? I'd say yellow at first.

The only two areas where output is only to the screen is the main print function in the ```virtual_host_scanner.py``` file and ```print_banner()``` in main. The other print stateme

[2017-10-02 08:53] FrancescoSaverioZuppichini commented on #47
I will take a look. I was thinking about using https://pypi.python.org/pypi/colored that should provide cross-platform support.

[2017-10-02 08:54] codingo commented on #47
Sounds good!

[2017-10-02 09:07] codingo commented on #41
Closed with #48

[2017-10-02 09:07] #41 closed

[2017-10-02 09:08] codingo commented on #34
Closed with #40, #44

[2017-10-02 09:08] #34 closed

[2017-10-02 20:22] xuvez commented on #15
Hi @codingo, Can I work on this issue?

[2017-10-02 20:34] codingo commented on #15
Of course @xuvez

[2017-10-03 05:36] timkent opened #49 "Broken for HTTPS"
HTTPS is broken because python-requests is handed the target, not the entry from the wordlist. This is fine for non-TLS sites, but breaks SNI.

The downside to handing the wordlist entry over is that python-requests will use the system resolver and go to where that points instead of the specified target.

Using -b (BASE_HOST) is also broken for HTTPS.

I believe it can be made to work with monkey

[2017-10-04 00:07] codingo opened #52 "Add command line flags as another object in JSON output"
#50 resolves  #15 however this output doesn't let you know the command line flags / header information used for the scan like output normal does.

Output normal uses the following code from output helper to do this:

[code]

Ideally this would be included within the json file as well (as valid json) without being written to every scan object.

[2017-10-04 00:08] #15 closed

[2017-10-04 09:10] #52 closed

[2017-10-04 09:13] codingo opened #54 "Fix formatting on Json Output"
We now have working json output but it's all on one line. I resolved this in a prior project (https://github.com/codingo/Ransomware-Json-Dataset) however I think it was a different library, simplejson. It may be solvable in the current implementation without adding new dependencies (current implementation is quite clean and shouldn't be rewritten). Merits investigation to see if cleanly formatted

[2017-10-04 09:20] schedutron commented on #54
Can I work on this?

[2017-10-04 09:24] codingo commented on #54
Sure thing!

[2017-10-04 13:22] xuvez commented on #54
Hi @schedutron check this: https://docs.python.org/2/library/json.html#basic-usage
At the "indent" parameter

[2017-10-04 23:31] codingo commented on #20
@prabhath6 Yup, that's the one. Are you tackling it?

[2017-10-04 23:34] prabhath6 commented on #20
yep, can you assign me this task. So i tried running this in windows there was issue in the some file which
 is using both tabs and space i will push a fix for that too.
One last this to confirm if user wish to write the results to file, there should only be 2 entries in the file one being the actual and other being the first match.

[2017-10-04 23:38] codingo commented on #20
Great! I think master already has the first issue resolved - I've pushed about four pr's in the last three days. You should be able to merge it back over ok.

And yup, in this case the output would automatically work since you would be popping out of the routine early (and subsequently not adding on output).

[2017-10-04 23:39] prabhath6 commented on #20
okay, i will pull in latest changes and push out the change.

[2017-10-04 23:40] codingo commented on #47
Hey @FrancescoSaverioZuppichini! Just touching base to see how you're going with this one and if I can help in any way?

[2017-10-05 05:01] MohitS10 commented on #16
Hi. Can i work on this?

[2017-10-05 05:21] codingo commented on #16
Definitely @MohitS10.

[2017-10-05 06:37] FrancescoSaverioZuppichini commented on #47
Hey, how are you?

This weekend I had some problem health problems, I will have time on the weekend :)

So you were suggesting to put the colours as `NoSQLMap`, so everything yellow, correct?

[2017-10-05 15:30] diogoosorio opened #56 "Create a CI recipe for the project"
I've just opened a PR that [introduces some tests to the project](#55).

The next step would be to make sure that the test battery is run every time a PR is opened. A CI (continuous integration) system is great for automating this kind of job.

[Tracis CI](https://travis-ci.org) appears to be the de-facto service for this kind of work in the Github/open source community.

I'm up for writing the re

[2017-10-05 22:55] codingo opened #58 "Automated test case (requirements) is failing"
#57 introduced automated test cases but one of these appears to be failing. Despite the correct Python version appearing to be used the numpy install is complaining about it:

[2017-10-05 23:06] codingo commented on #56
@diogoosorio Definitely interested in this. I've linked this on Travis CI and @ufocoder has done some work writing this up but it looks to be in error at the moment (see #58 for log)

Definitely would love if you can do the final push for this!

[2017-10-06 05:50] arpitx165 commented on #58
@codingo I have fixed travis build issue.Can you check my pull request

[2017-10-06 05:56] codingo commented on #58
Looks good. Since there's another ticket to wire in the other tests I'll close this issue off.

[2017-10-06 05:56] #58 closed

[2017-10-06 05:57] codingo commented on #56
#58 is now resolved with #59 but would definitely appreciate assistance wiring in your test cases!

[2017-10-06 21:36] diogoosorio commented on #56
@ufocoder did include running the test suite as one of the integration validations. You can see them [running on this job](https://travis-ci.org/codingo/VHostScan/jobs/284303241#L483), for example.

I'm going to close this issue. :tada:

[2017-10-06 21:36] #56 closed

[2017-10-06 21:45] diogoosorio opened #61 "Apply PEP 8 conventions to the codebase"
So the codebase is still small enough for us to retrofit [PEP 8](https://www.python.org/dev/peps/pep-0008/) style convention.

The [CI recipe is already running a linter to enforce the coding style](https://github.com/codingo/VHostScan/blob/master/.travis.yml), but a bunch of rules are being silenced because the project doesn't currently follow those conventions.

@codingo would this be something

[2017-10-08 05:35] codingo commented on #61
Sorry for the slow reply @diogoosorio I've been finishing an engagement. And I Definitely agree with this. A large driver for this project for me was to learn more about Python and the standards surrounding it to help boost my knowledge as I rewrite NoSQLMap. Anything learnt here has benefits outside of it.

I've found a few linters that seem reasonable and I've been reading up more about pep8 so

[2017-10-08 05:40] #54 closed

[2017-10-08 05:45] #49 closed

[2017-10-08 05:53] codingo commented on #16
Hi @MohitS10! How'd you go with this?

[2017-10-08 05:54] codingo commented on #56
My sincere apologies @ufocoder, this is definitely my bad. I'm still quite new to continuous integration cases within python. Appreciate all that you both do for this project!

[2017-10-08 10:54] MohitS10 commented on #16
Hi! So i think i have managed to write a setup script that installs the dependencies. Its a simple setup function from the setuptools library. I have no idea what you mean by adding application to $PATH. Do you mean to add the path of the script to the $PATH environment variable?

[2017-10-08 11:42] codingo commented on #16
Yup! I believe aetuptools will handle that but don't know for sure. I can test in a vm for you if you want to pr what you already have and then we can adjust from there?

[2017-10-08 17:20] diogoosorio commented on #61
The CI recipe already has a linting tool (validates that pep8 is enforced in the codebase), but its current configuration omits a number of warnings (because the codebase doesn't adhere to them, thus the CI build would always fail).

If you're OK with this direction, I'll give it a go (as the codebase is still small, I believe I'll be able to do it in one sitting). :+1:

[2017-10-08 21:04] codingo commented on #61
Sure thing. Totally ok with anything that makes the project better!

[2017-10-08 23:34] codingo commented on #20
Resolved in #63

[2017-10-08 23:34] #20 closed

[2017-10-10 02:09] codingo commented on #61
Resolved with #65

[2017-10-10 02:09] #61 closed

[2017-10-10 02:42] timkent opened #67 "HTTPS requests working with NGINX but may have an issue with Apache"
HTTPS is working against my nginx server however I tried against apache and received the following response:

[code]

Need to investigate what our request is doing and compare to standard.

[2017-10-10 03:07] timkent opened #68 "DNS query issues"
Scanning an IP resulted in this:

[code]

Possibly because of missing PTR record?

It needs to be okay to have no records returned.

[2017-10-10 03:30] codingo commented on #68
Agree on PTR record being the likely cause. I think we can put an exception handle in here to continue gracefully and provide some feedback whilst doing so.

[2017-10-10 04:42] MohitS10 commented on #16
Sure! I'll PR by tonight.

[2017-10-10 04:43] #68 closed

[2017-10-11 00:07] codingo commented on #6
Solution now proposed in #71

[2017-10-11 00:08] codingo commented on #47
Red for errors, yellow for feedback, green for likely matches I'm thinking? If you want to wire something up we can tweak around with it in the pull request prior to a merge.

[2017-10-11 00:56] #6 closed

[2017-10-12 13:00] codingo opened #75 "Add test cases for wordlists and STDIN"
Now that we have some automated test cases in place it would be good to create some cases for the following scenarios to ensure good code coverage of the wordlist code:

- STDIN only
- STDIN + wordlist
- No STDIN, default wordlist (no flags, will automatically select)
- No STDIN, provided wordlist

These could be separate, or a single test case.

[2017-10-16 00:41] timkent commented on #67
HTTPS is still busted - I've commented out the monkey patching code for now until I understand what is going on.

[2017-10-18 00:38] moorer2k opened #78 "ImportError: No module named queue :: Recommendation"
Did some research on this specific error, and I simply did as people were saying to do:

Change:
 from queue import Queue
To:
from multiprocessing import Queue

 Apparently it gets confused. Works now!

[2017-10-18 00:39] #78 closed

[2017-10-18 00:42] codingo commented on #78
Are you sure you're in the right repo? We don't have threading yet - were you adding it?

[2017-10-18 00:46] moorer2k commented on #78
Yeah I had two projects open, narcolepsy will do that to you. Brain dead all the time haha. It was for AWSBucketDump :P

[2017-10-18 00:48] codingo commented on #78
No worries! Just making sure no outstanding help needed before leaving this one :)

[2017-10-21 08:23] codingo commented on #47
@FrancescoSaverioZuppichini how'd you ever get on with this?

[2017-10-23 04:50] codingo commented on #75
Resolved with #79

[2017-10-23 04:50] #75 closed

[2017-10-27 20:42] #67 closed

[2017-11-08 08:05] codingo commented on #16
Change for this has now moved to #83

[2017-11-08 11:46] codingo opened #84 "Supress insecure request warnings"
When making a request over HTTPS an insecure request warning is being presented within the response headers (and subsequently being printed to the terminal). Information on suppressing these messages can be found here: https://stackoverflow.com/questions/27981545/suppress-insecurerequestwarning-unverified-https-request-is-being-made-in-pytho

[2017-11-22 03:09] #84 closed

[2017-12-06 10:46] codingo commented on #16
Closed with #83

[2017-12-06 10:46] #16 closed

[2018-03-20 22:15] infosecsecurity opened #86 "ValueError: Attempted relative import in non-package"
Getting this error when trying to run VHostScan

![screenshot from 2018-03-20 19-13-03](https://user-images.githubusercontent.com/7826342/37685638-efa766d8-2c72-11e8-9056-46d520bf61bf.png)

[2018-03-20 22:15] infosecsecurity commented on #86
I already ran the python setup.py install but it didn't help

[2018-03-20 23:09] codingo commented on #86
Since you've run setup.py you should be able to run it directly. Instead of:

[code]

It should work with just:

[code]

The method you're using bypasses the package setup. Could you please try this and reopen this issue if you have any remaining issues?

[2018-03-20 23:09] #86 closed

[2018-04-20 10:27] aancw commented on #47
You are still implementing this feature?

[2018-04-20 10:35] aancw commented on #47
I've implemented basic color scheme output and logger for my project https://github.com/aancw/Belati

[2018-05-05 20:41] linted opened #88 "output files implicit local directory"
## When specifying an output file with a flag like -oN, the local directory should be implicitly used
Right now you have to manually add the `./` before your output file name if you want it to be in the current directory. If you don't, an exception is thrown and no output file is written.

## Check to make sure that directory is not empty before trying to stat/make it
This can easily be achieved b

[2018-05-06 22:15] madaratech opened #90 "ImportError: cannot import name parse_http_list"
## What's the problem (or question)?
After git clone and successful installation of all the requirements getting following error.

## What are the running context details?

* Installation method: `git clone`
* Exception traceback (if any):

[code]

[2018-05-07 00:28] codingo commented on #90
Hi @madaratech, I'm assuming you haven't run:

[code]

This has properly managed dependencies so you can't run it out of the folder as shown above.

[2018-05-07 01:05] codingo commented on #90
Closing this as I believe it's a known issue with packages of this nature. Feel free to re-open if setup.py doesn't properly add everything to your path.

[2018-05-07 01:09] codingo commented on #88
Closed with #89

[2018-05-07 01:10] #88 closed

[2018-05-07 07:37] madaratech commented on #90
Hey @codingo,

No, As I said I'm facing this error after installing the dependencies, using `python setup.py install` and here is the output of that.

[code]

[2018-05-07 07:48] codingo commented on #90
Ah, my apologies - your issue stated that you installed using git clone so I had assumed you missed running setup..

It looks like this could be down to the urllib2 dependency. I'm assuming you're running it outside of Kali and it looks like we may have missed this on the setup script.. Could you pip install it and let me know if that then resolves the issue? If so I'll circle back and revisit the

[2018-05-07 08:13] madaratech commented on #90
I tried few solutions from the internet, none of them worked.

[code]

[2018-05-07 08:28] codingo commented on #90
Ok great - if you can bear with me I'll build an Ubuntu VM tomorrow to test this.

[2018-05-07 08:28] codingo commented on #90
@timkent tagging in case you have something to test this in also. I only have kali/arch builds available atm.

[2018-05-07 08:35] madaratech commented on #90
No problem, please take your time and maybe reopen the issue for the better tracking and thanks for your support and work!

[2018-05-15 01:52] codingo commented on #47
This has been outstanding for some time so moving to my own plate. I'll open a new branch for this soon.

[2018-05-15 01:53] codingo commented on #90
@madaratech sorry that this has yet to be looked into. Hoping to get some time later this week to properly investigate.

[2018-05-17 13:18] linted opened #93 "Change readme documentation to specifically say python3"
## The readme says `python setup.py install` when it should say `python3 setup.py install`
This will allow for people with both versions of python installed to copy and paste the commands and get the right version installed. The usage of `pip` should also be changed to `pip3` just to avoid ambiguity.

[2018-05-17 14:07] linted commented on #93
Thanks for the quick turn around, but I think we should also change the usage of `pip` to `pip3`

[2018-05-25 04:42] #90 closed

[2018-07-18 07:38] C-fire opened #96 "Import error when running vhostscan"
vhostscan gives an import error when executed
* Installation method (git clone): python setup.py install
* Client OS: Linux loki 4.16.0-kali2-amd64 #1 SMP Debian 4.16.16-2kali2 (2018-07-04) x86_64 GNU/Linux
* Program version (see banner): VHostScan 1.21
* Relevant console output (if any):
**Traceback (most recent call last):
File "./vhostscan.py", line 8, in <module>
from .lib.core.virtual_host_sc

[2018-08-14 09:38] harriseka opened #99 "i have allready package and why error again????"
RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa
/usr/local/lib/python3.6/dist-packages/fuzzywuzzy-0.15.1-py3.6.egg/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
+-+-+-+-+-+

[2018-08-14 10:52] codingo commented on #99
Looks like not much detail here, I'm unsure how to help you.

Based on the above you haven't passed a target to the application (using -t). Is there something further to this I'm missing and if so could you please provide a bit more detail?

[2018-08-14 11:17] harriseka commented on #99
even though I use VHostScan -t it still appears that error like that and I also totally deleted my linux times (4.17.0-times1-amd64 # 1 SMP Debian 4.17.8-1kali1 (2018-07-24) x86_64 GNU / Linux )

[2018-08-14 23:26] codingo commented on #99
Could you please copy the whole output of the terminal window here (including the flags you're using to launch VHostScan). I'm assuming you ran setup.py also?

[2018-08-15 05:44] harriseka commented on #99
root@harris:~/GitHub/VHostScan# python setup.py install
Traceback (most recent call last):
  File "setup.py", line 38, in <module>
    '' if num_installed else 'numpy==1.12.0'],
NameError: name 'num_installed' is not defined
root@harris:~/GitHub/VHostScan# pip install -r requirements.txt
Collecting dnspython==1.15.0 (from -r requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/p

[2018-08-21 04:27] codingo commented on #99
@harriseka, if you run VHostScan after this you see the first output? I'm unsure how to help at this point, it looks to me like everything is working.

Could you do:

[code]

If  that doesn't work please reply here and I'll reopen this issue.

[2018-08-21 04:27] #99 closed

[2018-08-21 04:27] codingo commented on #96
@C-fire sorry I missed this in the fray. You need to run setup, the instructions can be found in README.md of this repository.

[2018-08-21 04:27] #96 closed

[2018-09-24 21:23] sky-code opened #100 "setup.py broken"
rename ```NUM_INSTALLED``` to ```num_installed```

[code]
https://github.com/natrix-fork/VHostScan/blob/master/setup.py#L15

https://github.com/natrix-fork/VHostScan/blob/master/setup.py#L38

[2018-09-26 03:37] codingo commented on #100
Easy change, going to shelve for HacktoberFest since it's not far away and will help people  to get a run on the board. Feel free to contribute back yourself or dm me on twitter (@codingo_) if you would like some help to do so.

[2018-10-02 14:44] konstunn commented on #100
@codingo, got a fix. Should this issue be closed?

[2018-10-02 15:05] sky-code commented on #100
yep, fixed, issue should be closed.

[2018-10-02 15:05] #100 closed

[2018-10-06 02:12] linted commented on #33
patch submitted in #106

[2018-10-10 05:34] codingo commented on #33
Closed with #106

[2018-10-10 05:34] #33 closed

[2018-10-10 18:39] ewilded opened #107 "A typo in one of the imports keeps the tool from running"
## An attempt to run the tool after installation fails:

[code]

## Reason: VHostScan.py, line 8:
`from .lib.core.virtual_host_soutput_helpercanner import virtual_host_scanner`

## Do you have an idea for a solution?
Seems like the "output_helper" string crept into the class name.
Replacing the line with `from .lib.core.virtual_host_scanner import virtual_host_scanner` fixes the problem.

[2018-10-11 00:13] codingo commented on #107
Closed with #108

[2018-10-11 00:13] #107 closed

[2018-10-11 12:33] ewilded opened #109 "Unclear results (false positives?)"
## Discovering vhosts
My apologies if I am not using/understanding this tool properly, feel free to correct me and close this issue if irrelevant.
This tool got my interest as I simply wanted to automate dictionary-based detection of virtual hosts existing on a given web server (IP:PORT). So, my guess is that the principle this tool works is to keep connecting to the same webserver using different

[2018-10-11 21:40] yvonneKim commented on #18
Is this different from the common name? Or am I misunderstanding?

[2018-10-12 06:45] CaptainFreak commented on #18
Would love to implement this @codingo

[2018-10-16 00:30] yvonneKim commented on #47
Taking this one.

[2018-10-18 14:42] codingo commented on #109
@ewilded touching base to see where we're headed with this?

[2018-10-18 14:53] ewilded commented on #109
Hi, my apologies, I have been quite busy lately. I tried the --fuzzy-logic method but did not help with clear results. Will poke around the code trying to get the desired results without interfering with anything that's already working well. If successful, I'll come up with a pull request. Thanks.

[2018-10-18 14:54] codingo commented on #109
That would be greatly appreciated! Reach out if you have any questions (can also dm me on twitter under @codingo_ if easier).

[2018-10-25 18:08] ewilded commented on #109
OK, sorry it took so long. So I sat to this today and started playing with the code. At first I thought that the hash is using the entire response (including headers) and thus ending up different for each of the responses. I introduced a alternative comparison method (a hash of the response.content and the response.status_code) only to realize that was not the case (response.text == response.conte

[2019-02-01 05:01] jaikishantulswani opened #111 "Compilation Error"
Hello,

Getting compilation error while installing VHostScan

`pandas/lib.c:4:10: fatal error: Python.h: No such file or directory
 #include "Python.h"
          ^~~~~~~~~~
compilation terminated.
error: Setup script exited with error: command 'i686-linux-gnu-gcc' failed with exit status 1
`

[2019-03-20 22:45] chrsjhnsn commented on #111
Same here

[2019-04-01 03:50] jaikishantulswani commented on #111
Hello @codingo , now getting this issue :
`Traceback (most recent call last):
  File "VHostScan/VHostScan.py", line 8, in <module>
    from .lib.core.virtual_host_scanner import virtual_host_scanner
ModuleNotFoundError: No module named '__main__.lib'; '__main__' is not a package`

[2019-04-01 06:27] codingo commented on #111
@jaikishantulswani the second issue you have is a separate one where you haven't run `setup.py` and have launched the application directly.

The first issue steps from not having the required libraries installed. If you run this prior to setup it will resolve the issue:

[code]

[2019-04-01 06:27] #111 closed

[2019-04-01 13:09] jaikishantulswani commented on #111
@codingo still getting the same even after install

`Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 581, in _build_master
    ws.require(__requires__)
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 898, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/lib/python3/dist-packages/pk

[2019-08-18 08:26] mario713 opened #112 "setup.py cant finish installation"
Hi, Im trying to install VHostScan on my kali linux virtual machine with command
`python3 setup.py install` and im getting an error.
My python 3 version: `Python 3.7.4`

My versions of pip libs installed:

[code]

And here is the console output after running install command:

[code]

[2019-08-18 08:44] codingo commented on #112
You're missing a package, specifically `x86_64-linux-gnu-gcc`, I'm guessing you're installing this on a new (non Kali) debian distribution?

The following should resolve this and allow setup to continue without hassle:

[code]

[2019-08-18 09:01] mario713 commented on #112
Thanks for quick reply.
No, Im installing it on Kali Linux(image downloaded no more than 30 days ago),
and I already did that `sudo apt-get install python-dev` before posting here and it didn't helped.

[2019-08-18 09:55] codingo commented on #112
Ah, gotcha. I'll download a fresh image tomorrow and take a proper look.

[2019-08-18 10:13] mario713 commented on #112
Ok so I managed to finish this installation.
Before I was installing it by `python3 setup.py install` command but after editing my second post and thinking for a while I decided to try `python setup.py install` and it worked.
I have 2 versions of python installed
[code]

[2019-08-18 10:48] #112 closed

[2019-08-18 10:48] codingo commented on #112
Makes sense. Nice one! Let me know how you get on with VHostScan and if there's anything else I can add to make it better for you.

[2019-08-19 08:00] nuga99 opened #113 "Issue on Output Json"
## What's the problem (or question)?

1. Problem on `is_json()` function in *helpers/file_helper.py*

## Do you have an idea for a solution?

1. Adding `self` because it's function based on class, and removed the `open(json_file,'r')`
because OS cannot handled bigger file.
So the new `file_helper.py` would be like this:
[code]

## How can we reproduce the issue?

1. Run the VHostScan and give as t

[2019-09-03 22:04] ajh11g opened #114 "--random-agent can't find file"
## What's the problem (or question)?
When using the `--random-agent` flag in release version 1.21, the program returns a `FileNotFoundError`:

[code]

Running `VHostScan` from a parent directory that contains `lib/ua-random-list.txt` seems to solve the problem.

## Do you have an idea for a solution?

Consider having the user manually specify the file containing the list of user agents, or modify

[2019-09-03 22:09] ajh11g commented on #114
Well nvm, looks like the issue is solved when cloning the repo instead :) closing

[2019-09-03 22:09] #114 closed

[2019-10-10 19:52] alexwong1249118 opened #115 "Error: command 'i686-linux-gnu-gcc' failed with exit status 1"
Can anyone help me troubleshoot this install issue?

warning: no previously-included files matching '*.png' found anywhere in distribution                                                                                                              [388/1509]
package init file 'pandas/io/tests/sas/__init__.py' not found (or not a regular file)
package init file 'pandas/io/tests/sas/__init__.py' not

[2019-10-31 05:23] sumgr0 commented on #115
Any solution to this error. I've been getting the same on my debian 10 box while running python3 setup.py install.

[2019-10-31 06:38] sumgr0 commented on #115
Resolved the error and finally installed VHostScan successfully by running the setup.py with python2 specifically.

Ran the command python2 setup.py install and it worked.

[2020-06-02 21:22] altjx opened #119 "ImportError attempted relative import with no known parent package (is this python2 or python3?)"
While following the instructions, I was having issues running `python3 setup.py install` due to the following error:

[code]

However, I ran across this [GitHub issue](https://github.com/codingo/VHostScan/issues/115) which mentioned running `python2 setup.py install`, which is not in the instructions.

While that command completed and everything installed successfully, I now have issues trying to

[2020-06-02 21:29] #119 closed

[2020-07-10 16:25] machinexa2 opened #120 "Error doesnt install"
https://gist.github.com/machinexa2/4250dff4938af2859b00b3b5938a8417

https://gist.github.com/machinexa2/98154b4f548c9e49e926087273568228

apt install python3-pandas says its installed , pip3 install -r requirements.txt give me error
same error is given by
python3 setup.py install

[2020-07-10 16:32] machinexa2 commented on #120
Did
[code]

[2020-07-10 16:32] #120 closed

[2020-07-17 01:03] mehedi1194 opened #121 "ImportError: attempted relative import with no known parent package"
I am facing this error while running vhostscan.py
Any help!

Traceback (most recent call last):
  File "VHostScan.py", line 8, in <module>
    from .lib.core.virtual_host_scanner import virtual_host_scanner
ImportError: attempted relative import with no known parent package

[2020-09-27 23:02] FadyAssaad opened #122 "Cannot Install"
## What's the problem (or question)?
I can't install using the command: python3 setup.py install

## Do you have an idea for a solution?
Nope

## How can we reproduce the issue?

1. Download and install the tool

## What are the running context details?

* Installation method python3 setup.py install
* Client OS: Linux kali 5.8.0-kali2-amd64
* Program version (see banner): Latest (downloaded using

[2020-10-08 14:12] hahanov commented on #122
I have the same problem also.

[2020-10-16 15:49] zenfosec commented on #122
I have the same issue, except I'm trying to install the requirements beforehand and getting a failure. I also didn't have python-dev installed but installing that didn't fix the issue. I'm on a Kali headless install. Below is the truncated error. There thousands of line of additional error text after what I've pasted. Thanks for any help you can provide!

-------
root@do-kli:~/VHostScan# pip3 inst

[2021-03-10 03:51] Digital-XxX opened #123 "Error install requirements.txt for pandas==0.19.2"
I always get this issue when installing the requirements.
`Collecting pandas==0.19.2
  Using cached pandas-0.19.2.tar.gz (9.2 MB)
    ERROR: Command errored out with exit status 1:
     command: /data/data/com.termux/files/usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/data/data/com.termux/files/usr/tmp/pip-install-t2nuranx/pandas_e6beddb6780b47f8b67d929c3c7ad4ef/setup.p

[2022-09-26 09:05] GanbaruTobi opened #128 "Docker-Image doesn't build"
...
x86_64-linux-gnu-gcc: numpy/core/src/multiarray/numpyos.c
      numpy/core/src/multiarray/numpyos.c:18:10: fatal error: xlocale.h: No such file or directory
         18 | #include <xlocale.h>
            |          ^~~~~~~~~~~
      compilation terminated.

[2022-10-22 01:51] TeknoTF2 opened #129 "[!] No words found in provided wordlists, unable to scan."
Installed all requirements and ran all tests successfully, I am unable to run even a default scan. Wordlist folder is present and .txt files are populated, even if I specify with -w it still tells me none of the wordlists are populated

[2022-10-25 12:00] zicohip opened #130 "what error?"
![image](https://user-images.githubusercontent.com/76248189/197767806-0692b19b-5ec0-4276-9768-7b96f12e6900.png)

[2022-11-02 14:09] brutexploiter commented on #130
VHostScan -h
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:123: PkgResourcesDeprecationWarning: 1.4-py1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:123: PkgResourcesDeprecationWarning: 0.9.18-kali is an invalid version and will not be supported in a future release
  warnings.warn(
Traceback